@model StartWithUs.Models.CompanyDetailsModel
@{
    ViewBag.Title = "CompanyDetails";
    //Layout = "~/Views/_LayoutPage1.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Company Details</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/._main.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/._util.css" rel="stylesheet" />
    <link href="~/css/util.css" rel="stylesheet" />
    <script src="~/js/._main.js"></script>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../images/bg-01.jpg');">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                @*<form class="login100-form validate-form flex-sb flex-w">*@
                @using (Html.BeginForm("CompanyDetails", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
                {
                    if (ViewBag.Status != null)
                    {
                        if (ViewBag.Status == 1)
                        {
                            <span class="alert alert-success">Details updated</span>
                            <br /><br />
                        }
                        else if (ViewBag.Status == 0)
                        {
                            <span class="alert alert-danger">Details not updated</span>
                        }
                    }
                    <span class="login100-form-title p-b-53">
                        Company Details
                    </span>
                    <div class="p-t-31 p-b-9">
                        <span class="txt1">
                            Company Name *
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Company Name is required">
                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "input100", @type = "text", @name = "CompanyName" })
                        @*<input class="input100" type="text" name="CompanyName">*@
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Company ID *
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Company ID is required">
                        @Html.TextBoxFor(m => m.CompanyId, new { @class = "input100", @type = "text", @name = "CompanyId" })
                        @*<input class="input100" type="text" name="CompanyID">*@
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            About the Company *
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(m => m.About, new { @class = "input100", @type = "text", @name = "About" })
                        @*<input class="input100" type="text" name="About" data-validate="About is required">*@
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Company's Tagline *
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Company Tagline is required">
                        @Html.TextBoxFor(m => m.Tagline, new { @class = "input100", @type = "text", @name = "Tagline" })
                        @*<input class="input100" type="text" name="Tagline">*@
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Company Image *
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Company Image is required">
                        @Html.TextBoxFor(m => m.CompanyImage, new { @class = "input100", @type = "file", @name = "CompanyImage" })
                        @*<input class="input100" type="file" name="Image">*@
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Company Graph *
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Graph is required">
                        @Html.TextBoxFor(m => m.CompanyGraph, new { @class = "input100", @type = "file", @name = "CompanyGraph" })
                       @* <input class="input100" type="file" name="graph">*@
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Company Video *
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        @Html.TextBoxFor(m => m.CompanyVideo, new { @class = "input100", @type = "file", @name = "CompanyVideo" })
                        @*<input class="input100" type="file" name="Video" data-validate="Video is required">*@
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" onclick="~/Home/Index">
                            Sign In
                        </button>
                    </div>
                }
                
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

    <!--===============================================================================================
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>
</html>







